# Data Structures in Python

## Builtin Datatypes
- strings
- lists
- Tuples
- Dictionaries
- Sets

# Lists

- list is like array ,Hetrogenous list

In [1]:
myList=[1,2,3,4,5,"hello"]
print(myList);
print(type(myList));

[1, 2, 3, 4, 5, 'hello']
<class 'list'>

In [2]:
l1= list();
print(l1);
print(type(l1));

[]
<class 'list'>

In [3]:
l2=list([1,2,3,4])
print(l2);
print(type(l2));

[1, 2, 3, 4]
<class 'list'>

In [4]:
l3=list(l2)
print(l3)

l3=l3+l2;
print(l3);

l3.extend(l2)
print(l3)

[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [5]:
# list of square of numberes form list

l4=[i*i  for i in range(6)]
print(l4)

[0, 1, 4, 9, 16, 25]

# List slicing

In [6]:
print(l4[0:3])
print(l4[-3:])

[0, 1, 4]
[9, 16, 25]

# Insertion and Deletion
- append 
- insert
- remove 
- pop
- delete

In [33]:
## Doubts
l=[1,2]
l.append(3)
print(l)

l.append(l)#nested list
print(l)
l=l+[2,3,4,4] #extension NOT appending
print(l)

new_l=l[3]
print(new_l);
print(new_l[3]);

[1, 2, 3]
[1, 2, 3, [...]]
[1, 2, 3, [1, 2, 3, [...]], 2, 3, 4, 4]
[1, 2, 3, [...]]
[1, 2, 3, [...]]

In [36]:
l.remove(1);
print(l);
del l[2]
print(l);
l.pop();
print(l);

[2, 3, [1, 2, 3, [...]], 2, 3, 4, 4]
[2, 3, 2, 3, 4, 4]
[2, 3, 2, 3, 4]

In [37]:
l = ([1,2,3])
l=l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [49]:
l=["apple","mango","guvava"]
80 in l
"guvava" in l

True

In [50]:
for i in range(len(l)):
    print(l[i])

apple
mango
guvava

In [51]:
for x in l:
    print(x)

apple
mango
guvava

In [52]:

l.insert(2,"Apricoat")
print(l)

['apple', 'mango', 'Apricoat', 'guvava']

# Sorting and Searching on List

In [72]:
l=[4,3,2,16,18]
print(max(l));
print(min(l));
print(l.index(16))

18
2
3

In [73]:
sorted(l)
print(l)

[4, 3, 2, 16, 18]

In [74]:
l=sorted(l)
print(l)

[2, 3, 4, 16, 18]

In [76]:
l=[4,5,1,3,2]
l.sort(reverse=True)
print(l)

[5, 4, 3, 2, 1]

In [77]:
# Read a list of Numbers
numbers=input()
print(type(numbers))

1 2 3
<class 'str'>

In [83]:
numbers=input().split();
print(numbers);

1234 678 90
['1234', '678', '90']

In [84]:
numbers_int=[int(i) for i in input().split()]
print(numbers_int)

1325 687 98 56
[1325, 687, 98, 56]

## Swapping in list

In [125]:
def Swap(List,pos1,pos2):
    List[pos1],List[pos2] = List[pos2],List[pos1]
    return List

In [128]:
List=[1,4,3,2]
pos1,pos2=1,3
List=Swap(List,pos1,pos2)
print(List)

[1, 2, 3, 4]

# Dictonarires-1

In [16]:
d={
    "mango": 100,
    "Guvava": 40
    
}

print(d);

print(d["mango"])

d["Grapes"]=[10,20]
print(d["Grapes"])

d["Pineapple"]={"small":90,"Large":150}
print(d["Pineapple"])
print(d["Pineapple"]["small"])

print(type(d))


print(d.keys())
print(d.values())

{'mango': 100, 'Guvava': 40}
100
[10, 20]
{'small': 90, 'Large': 150}
90
<class 'dict'>
dict_keys(['mango', 'Guvava', 'Grapes', 'Pineapple'])
dict_values([100, 40, [10, 20], {'small': 90, 'Large': 150}])

In [21]:
# print(d["mangoes])
# print(type(d["mango"]))
print(type(d.get("Mangoes")))

<class 'NoneType'>

In [24]:
if "Mangoes" in d:
    print("price of Mango is %d"%(d["mango"]))
else:
     print("doesn't exist")

doesn't exist

In [32]:
print(d.items()) # it gives list of tuples
# where as keys() and Values () return list
l=list(d.items())
print(l);

dict_items([('mango', 100), ('Guvava', 40), ('Grapes', [10, 20]), ('Pineapple', {'small': 90, 'Large': 150}), ('strawbeerry', 95)])
[('mango', 100), ('Guvava', 40), ('Grapes', [10, 20]), ('Pineapple', {'small': 90, 'Large': 150}), ('strawbeerry', 95)]

In [35]:
d2={"strawbeerry":95}
d.update(d2)
print(d)
print(d2)

{'mango': 100, 'Guvava': 40, 'Grapes': [10, 20], 'Pineapple': {'small': 90, 'Large': 150}, 'strawbeerry': 95}
{'strawbeerry': 95}

In [38]:
print(len(d2))
d2.clear()
print(len(d2))

1
0

## list to Dictionary

In [42]:
l1=["Apple","Papaya","Guvava","Banana"]
l2=[100,120,30,50]

p=dict(zip(l1,l2))
print(p)
print(type(p))

{'Apple': 100, 'Papaya': 120, 'Guvava': 30, 'Banana': 50}
<class 'dict'>

In [51]:
for k in p:
    print(k)
print("another way")
for k in p.keys():
    print(k)
for k in p.values():
    print(k)

Apple
Papaya
Guvava
Banana
another way
Apple
Papaya
Guvava
Banana
100
120
30
50

## Tuples in Python

In [76]:
t=(1,2,3,"hello")
print(t)

(1, 2, 3, 'hello')

In [77]:
#tuples are imputable
# t[0]=5
print(t[0])

1

In [78]:
#convert tuples to list
l=list(t)
print(l)

#now you can modify the data

l[0]=5;
print(l);

[1, 2, 3, 'hello']
[5, 2, 3, 'hello']

In [79]:
#convert list ot tuples
t=tuple(l);
print(t);

(5, 2, 3, 'hello')

In [80]:
t2=t+(1,6)
print(t2)

t2*=2
print(t2)

print(len(t2))

(5, 2, 3, 'hello', 1, 6)
(5, 2, 3, 'hello', 1, 6, 5, 2, 3, 'hello', 1, 6)
12

In [81]:
print(t)
del t;
# print(t)  error as t is deleted

(5, 2, 3, 'hello')

## Set Data strcutres 
- unique value
- unordered

In [102]:
s=set([15,1,2,3,4,4,1,1])
print(s)

{1, 2, 3, 4, 15}

In [104]:
if 14 in s:
    print("Present")
else :
    print("Not Present")

Not Present

In [86]:
s2={5,6,11,1,1,}
print(s2)

{1, 11, 5, 6}

In [89]:
s2.add(50)
print(s2)

{1, 5, 6, 11, 50}

In [91]:
print(s|s2)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [94]:
print(s&s2)

{1}

In [95]:
s.union(s2)

{1, 2, 3, 4, 5, 6, 11, 15, 50}

In [96]:
s.intersection(s2)

{1}

In [98]:
s-s2

{2, 3, 4, 15}

In [99]:
s.difference(s2)

{2, 3, 4, 15}

In [100]:
s.clear()
print(s)

set()

In [106]:
a1={1,2,3,4}
a2={3,2,5,65}
print(a1^a2)
#xor print those values which are not common

{65, 1, 5, 4}

6 5